/* ! Шрифты */

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* ! Общие стили */

html, body {
    overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0;  
}

p + p {
    margin-top: 15px;
}

img {
    max-width: 100%;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    border-radius: 5px;
    width: 165px;
    height: 50px;

    background: #f6762c;

    transition: 0.2s ease;
}

.btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.90);
    opacity: 0.5;
}

.btn--small {
    font-weight: 500;
    font-size: 12px;

    width: 140px;
    height: 40px;

    margin-top: 11px;
    transition: 0.2s ease;
}


/* ! Шапка */

.header {
    padding: 25px 0;
    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger-menu {
    display: none;
}

.header__burger-menu span {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #f6762c;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-menu span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-menu span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-menu span {
    background-color: #fff;
}

.header.open .header__burger-menu span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-menu span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-menu span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: 0.2s ease;
}

.header__link:focus-visible {
    outline: 2px dashed #fff;
    opacity: 1;
}

.header__nav a.active {
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    opacity: 1;
}

.header .btn:focus-visible {
    outline: 2px dashed #fff;
}

.header__list li:hover {
    transform: scale(0.95);
    opacity: 0.5;
}

.header__list li:active {
    transform: scale(0.90);
    opacity: 0.5;
}


/* ! 1-я Секция Welcome */

.welcome {
    box-sizing: border-box ;
    max-height: 100vh;

    margin-top: -100px;
    padding: 220px 0px 330px 0px;

    background-image: url("./images/burger.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
    margin-bottom: 24px;
}

.welcome__desc {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 26px;
}

.welcome .btn:focus-visible {
    outline: 2px dashed #fff;
}

/* ! 2-я  Секция Food-list */

.food-list {
    padding-top: 118px;
    padding-bottom: 102px;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    gap: 40px 10px;
    flex-wrap: wrap;
    
}

.food-list__card {
    width: 263px;
    height: 323px;
    background: #312f30;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s ease;
}

.food-list__card:hover {
    opacity: 0.8;
}

.food-list__image {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.food-list__text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.food-list__title {
    font-size: 20px;
    margin-bottom: 13px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

/*! Order */

.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order__text {
    max-width: 370px;
    margin-left: 90px;
}

.order__title {
    font-size: 44px;
    margin-bottom: 24px;
}

.order__desc {
    font-size: 16px;
    margin-bottom: 14px;

    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order__price--old {
    font-size: 16px;
    text-decoration: line-through;

    opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 3px;
}

.order .btn {
    margin-top: 10px;
}

.order .btn:focus-visible {
    outline: 2px dashed #fff;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ! PRODUCT */

.product {
    padding: 150px 0 75px 0;
}

.product .container {
    display: grid;
    grid-template-columns: 555px 555px;
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
}

.product__card {
    background-color: #6b6060;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    border-radius: 20px;
}

.product .btn:focus-visible {
    outline: 2px dashed #fff;
}

.product__card, .card-queen, .card-burger  {
    max-width: 555px;
    max-height: 300px;

    padding: 63px 1px 61px 290px;
}

.card-pizza, .card-papajohn {
    padding: 63px 251px 60px 50px;
    max-width: 555px;
    max-height: 300px;
} 

.product__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product__desc {
    opacity: 0.7;
    margin-bottom: 11px;
}

.product__price + .product__price {
    margin-left: 10px;
}

.product__price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product__price--old {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
}

.card-queen {
    background-image: url(./images/Dairyqueen.jpg);
}

.card-pizza {
    background-image: url(./images/pizza2.jpg);
}

.card-burger {
    background-image: url(./images/Burger3.jpg);
}

.card-papajohn {
    background-image: url(./images/papajohn.jpg);
}

/* ! Четвертая секция Feedback*/

.feedback .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 880px;

    padding-bottom: 190px;
    padding-top: 75px;
}

.feedback__image {
    width: 365px;
    height: 360px;
}

.feedback__text {
    margin: 0;
    text-align: center;
}

.feedback__text::before {
    content: url(./icons/svg.svg);
}

.feedback__desc {
    opacity: 0.7;
    width: 368px;
    padding-bottom: 27px;
    padding-top: 37px;

    font-size: 16px;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 2px;
}

.subauthor {
    font-weight: 500;
    font-size: 12px;
    display: block;
    opacity: 0.7;
}

/* ! 5 Секция Download menu */


.download {
    background-color: #312F30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
}

.download__menu {
    font-weight: 500;
    font-size: 40px;
    width: 363px;
}

.download .btn:focus-visible {
    outline: 2px dashed #fff;
}


/* ! Footer */

.footer {
    padding: 120px 150px;
    max-width: 1600px;
}

.footer a:hover {
    transform: scale(0.95);
    opacity: 0.6;
}

.footer a:active {
    transform: scale(0.90);
    opacity: 0.3;
}

.footer__contacts a {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.8;
}

.footer__inner-list a {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.8;
}
    
.footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.2s ease;
}

.footer__contacts {
    padding-right: 100px; 
}

.footer_logo {
    width: 77px;
    height: 62px;
    text-align: center;
    margin-bottom: 21px;
}

.footer__link {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    gap: 158px;
}

.footer__inner-list li:hover {
    transform: scale(0.95);
}

.footer__inner-list li:active {
    transform: scale(0.90);
}

.footer__list-item {
    margin-top: 14px;
}

.footer__title {
    margin-bottom: 10px;
}

.footer__socials {
    text-align: center;
    padding-left: 150px;
}

.footer__icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 90px;
    height: 15px;
}

.link__image {
    width: 12px;
    height: 13px;
    padding-right: 7px;
    position: relative;
}

.footer__icon-item:hover {
    transform: scale(0.95);
}

.footer__icon-item:active {
    transform: scale(0.90);
}

.footer a:focus-visible {
    outline: 2px dashed #fff;
}

/** Медиа Адаптация */

@media (hover: none) {
   .food-list__card:hover {
        opacity: 1;
    }

    .feedback__image:hover {
        opacity: 1;
    }

    .btn:active {
        transform: scale(0.90);
        box-shadow: 0 2px 5px #f6762c;
        opacity: 0.5;
    }

   .header__list li:hover {
        transform: scale(0.95);
        opacity: 0.5;
    }

    .header__list li:active {
        transform: scale(0.90);
        opacity: 0.5;
    }

    .footer a:active {
        transform: scale(0.90);
        opacity: 0.3;
    }

    .footer__inner-list li:active {
        transform: scale(0.90);
    }

    .footer__icon-item:active {
        transform: scale(0.90);
    }
}

@media (max-width: 1400px) {
    .footer .container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
    } 

    .footer__socials {
        padding-left: 0;
    }
}

@media (max-width: 1221px) {
    .footer__contacts {
        text-align: center;
        align-items: center;
        padding-right: 0;
    }

    .footer_logo {
        margin-bottom: 0px;
    }
}

@media (max-width: 1170px) {
    .product .container {
        grid-template-columns: repeat(auto-fill, minmax(555px,max-content));
        justify-content: center;
    }
}

@media (max-width: 1080px) {
    .welcome__desc {
        width: 500px;
        margin-bottom: 26px;
    }
}

@media (max-width: 990px) {
    .welcome__title {
        font-size: 50px;
    }

    .welcome__desc {
        width: 435px;
    }
}

@media (max-width: 890px) {
    .welcome__title {
        font-size: 40px;
        width: 356px;
        margin-bottom: 30px;
    }

    .welcome__subtitle {
         margin-bottom: 15px;
    }

    .welcome__desc {
        width: 380px;
        font-size: 16px;
    }

    .order__img {
        max-width: 100%;
        width: 400px;
    }

    .footer__nav-list {
        gap: 90px;
    }
}

@media (max-width: 839px) {
    .food-list .container {
        justify-content: space-around;
    }

    .order__title {
        font-size: 38px;
    }
}

@media (max-width: 768px) {
    .welcome__desc {
        width: 300px;
        margin-bottom: 32px;
    }

    .order__img {
        max-width: 100%;
        width: 350px;
    }

    .order__title {
        font-size: 36px;
    }

    .order__desc {
        font-size: 14px;
    }

    .order__price {
        font-size: 16px;
    }

    .btn {
        width: 145px;
        height: 40px;
    }

    .feedback .container {
        display: flex;
        flex-direction: column;
        gap: 90px;
    }

    .feedback__text {
        padding-left: 30px;
    }

    .download__menu h5 {
        font-size: 28px;
    }

    .footer .container {
        flex-direction: column;
        width: 175px;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 690px) {
    .header__burger-menu {
        display: inline-block;
        position: relative;
        width: 50px;
        height: 40px;
        border: none;
        background-color: transparent;
        z-index: 2;
        cursor: pointer;     
    }

    .header__nav {
        position: absolute;
        width: 230px;
        left: -230px;
        top: 0;
        background-color: #875318;
        padding: 15px 15px 5px 75px;
        transition: transform .5s;
        border-radius: 210px 15px 280px 15px;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        color: #fff;
        font-size: 14px;
        display: block;
        padding: 10px 0;
    }

    .header.open .header__nav {
        transform: translateX(100%);
    }
}

@media (max-width: 660px) {
    .welcome__title {
        font-size: 38px;
    }

    .order__img {
        max-width: 100%;
        width: 300px;
    }
}

@media (max-width: 640px) {
    .welcome__desc {
        width: 210px;
        font-size: 12px;
    }

    .welcome__title {
        font-size: 34px;
        width: 290px;
        margin-bottom: 30px;
    }

    .welcome__text {
        
    }

    .welcome__subtitle {
        margin-bottom: 20px;
        font-size: 12px;
    }

    .order__title {
        font-size: 34px;
    }

    .order__desc {
        font-size: 13px;
    }

    .order__price {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .order__img {
        max-width: 100%;
        width: 270px;
    }

    .order__title {
        font-size: 28px;
    }

    .order__desc {
        font-size: 12px;
    }

    .btn {
        width: 114px;
        height: 35px;
        font-size: 13px
    }

    .order__text {
        margin-left: 60px;
    }

    .product .container {
        grid-template-columns: repeat(auto-fill, minmax(350px,max-content));
    }

    .product__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .product__desc {
        font-size: 14px;
    }

    .product__price,
    .product__price--old {
        font-size: 14px;
    }
}

@media (max-width: 540px) {
    .order__img {
        max-width: 100%;
        width: 230px;
    }

    .order__title {
        font-size: 26px;
        margin-bottom: 18px;
    }

    .order__desc {
        margin-bottom: 12px;
    }

    .order__price {
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .order__img {
        max-width: 100%;
        width: 200px;
    }

    .order__title {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .order__desc {
        margin-bottom: 10px;
    }

    .order__price {
        font-size: 12px;
    }

    .card-queen, .card-burger {
        padding-left: 250px;
    }

    .card-pizza, 
    .card-papajohn {
        padding-right: 220px;
    }

    .feedback__image {
        width: 340px;
        height: 340px;
    }

    .feedback__desc {
        font-size: 14px;
    }

    .feedback__author {
        font-size: 20px;
    }

    .subauthor {
        font-size: 11px;
    }

    .download__menu h5 {
        font-size: 22px;
    }

    .footer {
        padding: 50px 0;
    }
}

@media (max-width: 460px) {
    .product__title {
        font-size: 16px;
    }

    .product__desc {
        font-size: 12px;
    }

    .product__price,
    .product__price--old {
        font-size: 12px;
    }

    .btn--small {
        width: 80px;
        height: 25px;
        font-size: 10px;
    }

    .feedback__text {
        padding-left: 20px;
    }
}

@media (max-width: 440px) {
    .welcome__subtitle {
        font-size: 10px;
    }

    .welcome__title {
        font-size: 26px;
        width: 180px;
        margin-bottom: 28px;
    }

    .welcome__desc {
        width: 180px;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .order__img {
        max-width: 100%;
        width: 180px;
    }

    .order__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .order__desc {
        margin-bottom: 8px;
        font-size: 10px;
    }

    .order .btn {
        margin-top: 8px;
        width: 80px;
        height: 25px;
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    .product__title {
        font-size: 14px;
    }

    .product__desc {
        font-size: 10px;
    }

    .product__price,
    .product__price--old {
        font-size: 10px;
    }
}

@media (max-width: 370px) {
    .welcome__title {
        font-size: 18px;
        width: 150px;
        margin-bottom: 20px;
    }

    .welcome__desc {
        width: 150px;
        font-size: 12px;
    } 

    .header .btn {
        width: 70px;
        height: 28px;
        font-size: 9px;
    }
}

@media (max-width: 320px){
    .welcome {
        padding-top: 115px;
    } 

    .welcome__subtitle {
        font-size: 8px;
    }

    .welcome__title {
        margin-bottom: 25px;
        font-size: 18px;
    }
    
    .welcome__desc {
        margin-bottom: 25px;
        font-size: 13px;
    }

    .order__img {
        width: 150px;
    }

    .card-queen, 
    .card-burger {
        padding-left: 210px;
    }

    .feedback__image {
        width: 288px;
        height: 288px;
    }

    .feedback__desc {
        width: 300px;
    }

    .feedback__text {
        padding-left: 10px;
    }

    .download__menu h5 {
        font-size: 20px;
    }
}
    


